
.DS_Store

*.xcuserstate

*.xcsettings

*.xcbkptlist

MoreArt.xcodeproj/xcuserdata/Thunder.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcscheme

MoreArt.xcodeproj/xcuserdata/bruceli.xcuserdatad/xcschemes/xcschememanagement.plist

MoreArt/src/3rd/TapkuLibrary/TapkuLibrary.xcodeproj/xcuserdata/bruceli.xcuserdatad/xcschemes/xcschememanagement.plist

MoreArt/src/3rd/TapkuLibrary/TapkuLibrary.xcodeproj/xcuserdata/Thunder.xcuserdatad/xcschemes/xcschememanagement.plist
